<header>
  <div class="wrapper">
    <div class="logo">

    </div>
    <ul class="nav-area">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="welcome-text">
    <h1>
     Survey creation And view survey</h1>
    <a routerLink="/create" routerLinkActive="active">create</a><br>
    <a routerLink="/create" routerLinkActive="active">View</a>
    <!-- <h2>
     view survey
    </h2> -->
  </div>
</header>